<!-- @format -->

<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header" style="height:100%;position:relative;">
        <div class="row">

            {{!-- <div class="col-12 main_header_all"> --}}
                <figure class="fig"><img src="./images/404.jpg" alt="Ayush singhal" class="img-fluid"
                        title="Weather App">
                </figure>

            </div>
        </div>
        {{!--
        <!-- footer section -->
        <footer>
            <p>Created with â¤</p>
        </footer> --}}
</body>

</html>