<!-- @format -->

<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    {{>navbar}}
    {{!-- main header --}}
    {{>mainheader}}
    <!-- footer section -->
    <footer>
        <p>Created with â¤</p>
    </footer>
</body>

</html>